header{
    position: fixed;
}
h1{
   background-color: yellow;
   color: black;
   text-align: center;
   position:fixed;
   left:0px;
   width:100%;
   z-index:100;
   margin:0px;
}
  subtitle{
    size: 150%;
  }